*
{
	margin: 0;
	padding: 0;
    border: none;
    text-align: center;
    font-family: fantasy;
}


html, body, div.main-body
{
    background-color: black;
    height: 100%;
    width: 100%;
    color: white;
}

div.content
{
    background-color: darkolivegreen;
    width: 90%;
    min-width: 950px;
    height: 90%;
    min-height: 720px;
	margin: 32px auto;
}

div.networth-cash-name-title div, div.networth-cash-name-data div
{
    float: left; 
    width: 33%;
    padding: 20px 0px;
    background-color: darkslategray;
}

div.networth-cash-name-title div.name-top-title, div.networth-cash-name-data div.name-top-data
{
    width: 34%;
}

div.event-banner
{
    width: 100%;
    height: 36px;
}

div.event-banner h1
{
    float: left;
    width: 10%;
    height: 100%;
    background-color: red;
}

div.event-banner input
{
    float: left;
    width: 80%;
    height: 100%;
}

div.event-banner button
{
    float: left;
    width: 10%;
    height: 100%;
    background-color: brown;
    color: white;
}

div.stock-title
{
    padding: 180px 0px 36px 0px;
    font-size: 48px;
    background-color: aqua
}

div.action-panel
{
    width: 100%;
    height: 256px;
    background-color: crimson
}

div.graph-panel
{
    float: left;
    width: 50%;
    height: 100%;
    background-color: chartreuse;
}

div.graph-panel canvas
{
    width: 475px;
    height: 100%;
    background-color: #1e1e1e;
}

div.stock-data-panel
{
    float: right;
    width: 50%;
    height: 50%;
    background-color: violet;
}

div.stock-data-banner
{
        padding: 0;
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
}

div.stock-data-banner div
{
    float: left;
    width: 50%;
    height; 1000%;
    background-color: firebrick;
}

div.sell-buy-panel
{
    width: 100%;
}

div.sell-buy-panel div
{
    float: left;
    width: 50%;
    height: auto;
    background-color: firebrick;
}

div.stocks-table
{
    width: 100%;
    height: 30%;
    background-color: darkmagenta;
}

div.stocks-table table, th, td
{
    height: 48px;
    border-collapse: collapse;
    border: 1px solid white;
    background-color: deepskyblue;
}