*
{
	margin: 0;
	padding: 0;
    border: none;
    text-align: center;
    font-family: fantasy;
}


html, body, div.main-body
{
    background-color: black;
    height: 100%;
    width: 100%;
    color: white;
}

div.content
{
    background-color: #101010;
    width: 100%;
    min-width: 784px;
    max-width: 1200px;
    height: 100%;
    min-height: 720px;
	margin: 0 auto;
}

div.networth-cash-name
{
    width: 100%;
    margin: 0 auto;
}

div.networth-cash-name-title div, div.networth-cash-name-data div
{
    float: left; 
    width: 33%;
    padding: 5px 0px;
}

div.networth-cash-name-title div.name-top-title, div.networth-cash-name-data div.name-top-data
{
    width: 34%;
}

div.networth-cash-name-title div
{
    font-size: 8px;
    font-weight: bold;
    background-color: #202020;
    color: #adadad;
}

div.networth-cash-name-data div
{
    font-size: 32px;
}

div.event-banner
{
    float: left;
    width: 100%;
    height: 50px;
}

div.event-banner div
{
    float: left;
    height: 100%;
}

div.event-banner-title
{
    width: 10%;
    background-color: #202020;
}

div.event-banner-description
{
    width: 80%;
}

div.event-banner-description input
{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-weight: bold;
	font-size: 20pt;
}
div.event-banner-nextday
{
    float: right;
    width: 10%;
}

div.event-banner-nextday button
{
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: #0061ff;
}

div.event-banner-nextday button:hover
{
    background-color: #00a1ff;
}

div.stock-title
{
    float: left;
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    margin: 16px auto;
}

div.action-panel
{
    width: 100%;
    height: 256px;
}

div.graph-panel
{
    float: left;
    width: 50%;
    height: 100%;
}

div.graph-panel canvas
{
    width: 100%;
    height: 100%;
    background-color: black;
}

div.stock-data-panel
{
    float: right;
    width: 50%;
    height: 100%;
    background-color: #202020;
}

div.stock-data-banner
{
    width: 100%;
    height: 50%;
    background-color: #101010;
}

div.stock-data-banner div
{
    float: left;
    width: 50%;
    height: 50%;
    font-size: 18px;
    line-height: 60px;
}

div.sell-buy-stocks
{
    float: left;
    width: 100%;
    height: 50%;
}

div.sell-buy-stocks-data
{
    width: 100%;
    height: 50%;
    float: left;
}

div.sell-buy-stocks-data-inc
{
    float: left;
    width: 90%;
    height: 100%;
}

div.sell-buy-stocks-data-inc input
{
    float: left;
    width: 100%;
    height: 100%;
    background-color: #050505;
    color: white;
    font-size: 52px
}

div.sell-buy-stocks-data-up-down
{
    float: left;
    width: 10%;
    height: 100%;
}

div.sell-buy-stocks-data-up-down input
{
    float: left;
    width: 100%;
    height: 50%;
    background-color: #202020;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

div.sell-buy-stocks-data-up-down input:hover
{
    background-color: #606060;
}

div.sell-buy-stocks-buttons
{
    float: left;
    width: 100%;
    height: 50%;
}

div.sell-buy-stocks-buttons input
{
    float: left;
    width: 50%;
    height: 100%;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

input.sell-buy-stocks-buttons-buy
{
    background-color: #008000;
}

input.sell-buy-stocks-buttons-sell
{
    background-color: #800000;
}

input.sell-buy-stocks-buttons-buy:hover
{
    background-color: #00d000;
}

input.sell-buy-stocks-buttons-sell:hover
{
    background-color: #d00000;
}


div.stocks-table
{
    width: 100%;
    overflow-y: scroll;
    max-height: 35%;
}

div.stocks-table table, th, td
{
    height: 48px;
    border-collapse: collapse;
    border: 1px solid white;
}

div.stocks-table th
{
    font-size: 20px;
    font-weight: bold;
    color: #adadad;
}

div.stocks-table button
{
    width: 100%;
    height: 100%;
    background-color: #303030;
    color: white;
    font-size: 20px;
    
}

div.stocks-table button:hover
{
    background-color: #606060;
}